<!doctype html>

<html>
	<head>
	<meta charset="utf-8">

	<!-- bootstrap includes -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- angular ui grid includes -->
	<link rel="styleSheet" href="angular-ui-grid/ui-grid.min.css"/>
	
    <link rel="stylesheet" href="stylesheet.css"></link>
    
	<title>View Issues</title>

	</head>
	
    <body>
    <div class="container">
        <ul class="nav nav-pills nav-justified incidentbar">
          <li role="presentation" ><a href="index.html">Home</a></li>
          <li role="presentation" ><a href="form.html">Report an Incident</a></li>
          <li role="presentation" class="active"><a href="#">View Incident Reports</a></li>
        </ul>
  
    	<div ng-controller="incidentCtrl2" ng-app="incidentApp2">
            <div class="row">
                <div class="pull-left col-xs-12 col-s-7 col-md-7 col-lg-7">
                    <label for="sortby">Sort By: &nbsp;</label><select id="sortby" name="sortby" onchange="sort()"><option value=""></option><option value="severity">Severity</option><option value="status">Status</option><option value="time">Time</option></select>
                    <span id="filter"><label for="filterby">Filter By: &nbsp;</label><input type="text" id="filterby" onkeyup="sort()" /></span>
                </div>
                <div class="pull-right col-xs-12 col-s-5 col-md-5 col-lg-5">
                    <button type="button" class="btn btn-primary" ng-click="showResolved()" id="showresolved">Show Resolved Incidents</button>
                    <button type="button" class="btn btn-primary" ng-click="hideResolved()" id="hideresolved">Hide Resolved Incidents</button>
                </div>
            </div>
            <div id="chart"></div>
            <!-- Modal that will allow the user to view and edit information-->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal-title">Edit Incident</h4>
                  </div>
                  <div class="modal-body" id="modal-body"></div>
                </div>
              </div>
            </div>
    	</div>
    </div>
    <!-- bootstrap includes -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>

    <!-- code for this page
    <script src="map.js"> </script>
    <script src="constants.js"></script>  -->
    <script src="issuedisplayController2.js"></script>
	</body>
</html>