<!doctype html>

<html lang="en" manifest="cachemanifestdisplay.appcache">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<meta http-equiv="expires" content="tues, 27 sep 2016 14:30:00 GMT">-->
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="frontend/issuedisplay3.css"></link>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">
	<title>DIRT</title>
</head>
	
<body ng-controller="incidentCtrl2" ng-app="incidentApp2">

<div ng-show="!loaded" style="width: 100%; text-align: center">
     <div style="margin: 10% auto;">
          <img src="./img/ming-loading.gif">
     </div>
</div>

<div ng-show="loaded" ng-hide>
  <ul class="nav nav-pills">
    <li class="dropdown pull-left"> 
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="./apidocs.html">API Documentation</a></li> 
        <li><a href="index.html">Log out</a></li>
      </ul>
    </li>
    <li class="pull-right"><a ng-click="refresh()" ng-show="numnew > 0"> View {{numnew}} New Incident<span ng-show="numnew > 1">s</span></a></li>
  </ul>

  <div class="row">
    <div class="pull-left col-xs-12 col-s-7 col-md-8 col-lg-9">
      <button type="button" class="btn btn-primary" ng-click="newIncident()">Report Incident</button> &nbsp; &nbsp;
      <label for="sortby">Sort: &nbsp;</label>
      <select id="sortby" name="sortby" onchange="sort()">
        <option value=""></option>
        <option value="severity">Severity</option>
        <option value="status">Status</option>
        <option value="time">Time</option>
      </select>
      <span id="filter"><label for="filterby">Search: &nbsp;</label><input type="text" id="filterby" onkeyup="sort()" /></span>
    </div>
    <div class="pull-right col-xs-12 col-s-5 col-md-4 col-lg-3">
      <button type="button" class="btn btn-primary col-xs-6 col-s-6 col-md-6 col-lg-6" ng-click="showResolved()" id="showresolved">
        Show Resolved
      </button>
      <button type="button" class="btn btn-primary col-xs-6 col-s-6 col-md-6 col-lg-6" ng-click="hideResolved()" id="hideresolved">
        Hide Resolved
      </button>
    </div>
  </div>

  <br>

  <timeline>
    <timeline-event ng-repeat="event1 in events | startFrom:currentPage*pageSize | limitTo:pageSize"  side="right">
      <timeline-badge class="{{event1.badgeClass}}">
        <i class="glyphicon {{event1.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event1.badgeClass}}" ng-click="setmodal(event1.id, event1.created_at)">
        <div id="textbox">
          <timeline-heading>
            <p class="alignright">
                <i class="glyphicon {{event1.scale1}}"></i>
                <i class="glyphicon {{event1.scale2}}"></i>
                <i class="glyphicon {{event1.scale3}}"></i>
                <i class="glyphicon {{event1.scale4}}"></i>
            </p>
            <p class ="alignleft"><h5><strong>{{event1.title}}</strong> | {{event1.incident_time}} | {{event1.submitter}}</h5></p>
          </timeline-heading>
          <p><b>Location: </b>{{event1.location}}<br><b>Description: </b><span class="description">{{event1.content}}</p></span>
        </div>
      </timeline-panel>
    </timeline-event>
  </timeline>
  <button ng-disabled="!currentPage" ng-click="currentPage=currentPage-1">Previous</button>
  {{currentPage+1}}/{{numberOfPages()}}
  <button ng-disabled="currentPage >= events.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
    
  <!-- Modal that will allow the user to view and edit information-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-title">Edit Incident</h4>
        </div>
        <div class="modal-body" id="modal-body"></div>
      </div>
    </div>
  </div>

  <!-- Modal that will allow the user to report an incident-->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Report Incident</h4>
        </div>
        <div class="modal-body">
          <div id="form">
            <span class='title'>Severity</span> (1 = Minor Incident, 4 = Emergency):
            <select id="severity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <br>
            <datetimepicker 
              min-date="minDate" 
              hour-step="hourStep" 
              minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" 
              date-format="{{format}}" date-options="dateOptions"
              date-disabled="disabled(date, mode)" 
              datepicker-append-to-body="false"
              readonly-date="false"
              hidden-time="false"
              hidden-date="false" 
              name="datetimepicker"
              show-spinners="true"
              readonly-time="false"
              date-opened="dateOpened"
              >
            </datetimepicker><br><br>
            <div class='row'>
              <div class='col-xs-6 col-s-6 col-md-6 col-lg-6'>
                <label for="Textarea">Incident Description</label>
                <textarea
                  name="description"
                  class="formedit form-control"
                  name="description"
                  id="description"
                  rows="8"
                  onkeyup="descriptionedit()">
                </textarea>
              </div>
              <div class='col-xs-6 col-s-6 col-md-6 col-lg-6'>
                <input
                  id="pac-input"
                  class="controls"
                  type="text"
                  placeholder="Search"
                  name="location"
                  style="z-index:100; position: absolute; left: 113px; top: 0px;"
                  autocomplete="off">
                <div id='map'></div>
              </div>
            </div>
            <br>
            <label for="InputFile">Add file</label>
            <input name="photo" type="file" class="input_photo" id="InputFile">
            <br>
            <button type='button' id="submitbutton" class='btn btn-primary' ng-click='createIncident()' data-dismiss='modal'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- angular ui grid includes -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    

   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
    
    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
    <!-- SockJS -->
    <script type = "text/javascript" src="http://cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
    <script src="frontend/stomp.js"></script>

    <!-- code for this page 
    <script src="frontend/display.js"></script>-->
    <script src="frontend/issuedisplayController3.js"></script>

    <script src="http://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.js"></script>

	</body>
</html>