<!doctype html>

<html lang="en" manifest="cachemanifestdisplay.appcache">
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="expires" content="tues, 27 sep 2016 14:30:00 GMT">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
	<!-- bootstrap includes -->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="frontend/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="frontend/bootstrap/dist/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="frontend/bower_components/angular-timeline/dist/angular-timeline.css"/>
	
    <link rel="stylesheet" href="frontend/stylesheet.css"></link>-->

    <!--<link rel="stylesheet" href="frontend/display.css"></link>-->
    <link rel="stylesheet" href="frontend/issuedisplay3.css"></link>
    
	<title>View Issues</title>

	</head>
	
    <body>
    <div class="container">
        <ul class="nav nav-pills nav-justified incidentbar">
          <li role="presentation" ><a href="index.html">Home</a></li>
          <li role="presentation" ><a href="form.html">Report an Incident</a></li>
          <li role="presentation" class="active"><a href="#">View Incident Reports</a></li>
        </ul>
  
    	<div ng-controller="incidentCtrl2" ng-app="incidentApp2">
            <div class="row">
                <div class="pull-left col-xs-12 col-s-7 col-md-7 col-lg-7">
                    <label for="sortby">Sort By: &nbsp;</label><select id="sortby" name="sortby" onchange="sort()"><option value=""></option><option value="severity">Severity</option><option value="status">Status</option><option value="time">Time</option></select>
                    <span id="filter"><label for="filterby">Filter By: &nbsp;</label><input type="text" id="filterby" onkeyup="sort()" /></span>
                </div>
                <div class="pull-right col-xs-12 col-s-5 col-md-5 col-lg-5">
                    <button type="button" class="btn btn-primary" ng-click="showResolved()" id="showresolved">Show Resolved Incidents</button>
                    <button type="button" class="btn btn-primary" ng-click="hideResolved()" id="hideresolved">Hide Resolved Incidents</button>
                </div>
            </div>
            <!--<div id="chart"></div>-->
            <br>
            <timeline>
                <timeline-event ng-repeat="event1 in events | startFrom:currentPage*pageSize | limitTo:pageSize"  side="right">
                    <timeline-badge class="{{event1.badgeClass}}">
                        <i class="glyphicon {{event1.badgeIconClass}}"></i>
                    </timeline-badge>
                    <timeline-panel class="{{event1.badgeClass}}" ng-click="setmodal(event1.id)">
                        <div id="textbox">
                        <timeline-heading>
                            <p class="alignright">
                                <i class="glyphicon {{event1.scale1}}"></i>
                                <i class="glyphicon {{event1.scale2}}"></i>
                                <i class="glyphicon {{event1.scale3}}"></i>
                                <i class="glyphicon {{event1.scale4}}"></i>
                            </p>
                            <p class ="alignleft"><h5><strong>{{event1.title}}</strong> | {{event1.time}} | {{event1.submitter}}</h5></p>
                        </timeline-heading>
                            <p><b>Location: </b>{{event1.location}}<br><span class="description"><b>Description: </b></span>{{event1.content}}</p>
                        </div>
                    </timeline-panel>
                </timeline-event>
            </timeline>
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
            <!-- Modal that will allow the user to view and edit information-->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal-title">Edit Incident</h4>
                  </div>
                  <div class="modal-body" id="modal-body"></div>
                </div>
              </div>
            </div>
    	</div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- angular ui grid includes -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>

    <!-- code for this page -->
    <script src="frontend/issuedisplayController3.js"></script>
	</body>
</html>